.experience-card {
    width: 280px;
    border-color: #acb2b0;
    border-width: 5px;
    margin: 20px;
    background-color: #0c2223;
}

.card-body {
    background-color: #0c2223;
    border: 1px solid;
    border-color: #acb2b0;
    color: white;
    border-radius: 5px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #0c2223;
    min-height: 100vh;
}

a.btn.btn-success {
    background-color: #f8d0a9;
    margin-top: 15px;
    color: #3f515f;
    border: none;
}

.service-name {
    font-size: 25px;
}

div.card-body {
    width: 270px;
}



