.experience-card {
    width: 280px;
    border-color: #acb2b0;
    border-width: 5px;
    margin: 20px;
    background-color: #0c2223;
}

.card-body {
    background-color: #0c2223;
    border: 1px solid;
    border-color: #acb2b0;
    color: white;
}

.cards-container {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    background-color: #0c2223;
}

a.btn.btn-success {
    background-color: #f8d0a9;
    margin-top: 15px;
    color: #3f515f;
    border: none;
}

.service-name {
    font-size: 25px;
}



