.home-page-container {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.photo {
    width: 50%;
    background-image: url('../../../public/aboutImg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.photo img {
    width: 100%;
}

.about {
    font-size: 30px;
    font-family: "playfair display", serif;
}

.about p {
    width: 70%;
    margin: 100px auto 0;
    text-align: center;
}