
.home-page-container {
  display: flex;
  margin: 0;
  padding: 0;
}

/* .container > div {
  flex: 0 0 80%;
  border: 1px solid black;
} */

/* .container div img {
  width: 80%;
} */

.about {
  color: white;
  background-color: #264345;
  width: 50%;
}

.photo {
  width: 50%;
}

.photo img {
  width: 100%;
}

.nav {
  height: 60px;
  align-items: center;
  background-color: #0c2123;
}

.nav-item a {
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #7a7f82;
  color: white;
  text-align: center;
  align-items: center;
}
