
/* .container > div {
  flex: 0 0 80%;
  border: 1px solid black;
} */

/* .container div img {
  width: 80%;
} */

.about {
  color: white;
  background-color: #264345;
  width: 50%;
}

.nav {
  height: 60px;
  align-items: center;
  background-color: #0c2123;
}

.nav-item a {
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d9d1ca;
  color: black;
  text-align: center;
  align-items: center;
}

.btn {
  margin-right: 10px;
}